section{
  margin: 15vh 10vh;
  display: grid;
  place-items: center;
  position: relative;
}

.first-section{
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 100px;
}

.second-section{
  display: none;
}

.cards-grid{
  width: 80%;
  height: 300px;
  background-color: white;
  position: relative;
  display: grid;
  place-items: center;
  padding-bottom: 10%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.practice-button{
  position: absolute;
  bottom: 0.1vh;
  right: 50%;
  transform: translate(50%, -50%)
}


.container-div{
  width: 500px;
  height: 400px;
  background-color: white;
  display: grid;
  place-items: center;
  font-size: 1.75rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  padding: 50px 50px; 
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  border-radius: 10px;
}

.test{
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -1
}

.test2{
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: -2

}
.test3{
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: -3;
}

.card-front, .card-back{
  position: absolute; 
  display: grid; 
  place-items: center; 
  width: 100%; 
  height: 100%; 
  backface-visibility: hidden;
}

.card-back{
 transform: rotateX(180deg)
}

.initiate{
  font-size: 1rem;
}


.back-button{
  margin-top: 50px;
}








